@{
    ViewData["Title"] = "Home Page";
}
<head>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
    <br />
    <br />
    <h3>Class Information</h3>
    <br />
    <table class="users" border="">
    <thead>
        <tr>
        <th class="row-1 row-ID">Name</th>
        <th class="row-2 row-name">DOB</th>
        <th class="row-3 row-job">Value</th>
        <th class="row-4 row-email">Read date<th>
        </tr>
    </thead>
    <tbody>
        @foreach(var row in Model)
        {
        <tr>
                <td>@row.Name</td>
                <td>@row.DOB</td>
                
                    @if(row.Value<=20)
        {      <td bgcolor="red">@row.Value</td>}
            
                @if(row.Value>20 && row.Value<80)
                { <td bgcolor="yellow">@row.Value</td>}
                
                @if(row.Value>=80)
            {  <td bgcolor="green">@row.Value</td>}
                <td>@row.ReadDate</td>
        </tr>
        }      
        
    </tbody>
    </table>
</body>